body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
  }
  
  .btn {
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    position: relative; /* used with position absolut below */
    overflow: hidden; /* to get rid of extra color outside button */
  }

  .btn span{
    position: relative;
    z-index: 1;
  }

  /* Bring text exactly to center. Must also add position: relative to btn. See above */
  .btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    /*width: 20px;
    height: 20px; original entry*/
    width: 0; /* revised after transition entry below */
    height: 0; /* revised after transition entry below */
    /*left: 50%; 
    top: 50%;*/
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
  }

  .btn:hover::before{
    width: 300px;
    height: 300px;
  }